.nav-bar img{
    height: 70px;
    text-align: center;
    margin-left: 60px;
    background-color:rgba(252, 249, 249, 0.932);
}
.navbar-nav > li{
    padding-left:25px;
    padding-right:25px;
  }

  .bg-dark{
      background: transparent !important;
  }
  .navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }

.fixed-top.scrolled  {
  background-color: #fff !important;
  transition: background-color 500ms linear;

}
.fixed-top.scrolled a{
  color: #007bff;
}

.fixed-top.scrolled a:hover{
  color: #27588e;
}

.nav-item a{
  /* color: #177106 ; */
  color: #fff81f;
  /* color: #bf0c0c; */
  font-weight: 700;
  font-size: large;
}

.nav-item a:hover{
  color: yellow;
}