/* ===============top menu=============== */


.menu a:hover{
  text-decoration: none;
}


.App #header-menu{
 
  
  width: 100%;
  
	position: fixed;
	z-index: 9999;
  top: 0;
  background-color: transparent;
  /* color: white; */

}

.App{
  overflow-x: hidden; 
}




#top-menu{
  padding: 0px ;
  height: 130px;

}

#main-logo img {
  height: 45%;
  margin-left: 20px;
  
}

.menu{
  text-align: center;
  margin-top: 50px ;
}

.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.menu li{
  display: inline;
  padding: 20px;
  margin: 20px;
  
}
.menu li a{
  /* color: white; */
  font-weight: 550;
}

/* ==================walpaper====================== */

.walpaper{

	margin: 0px 0px;
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	/* linear-gradient(rgb(136 45 70 / 96%),rgba(32,44,70,0.96)), */
	url(./assets/images/bg_pic.jpg) ;
	
  height: 650px; 
  
  /* height: auto; */


  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  color: white;
}

.content{

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  
}

.h1-content>h1,h3, h2{
  font-style: italic;
  font-family: 'Times New Roman", Times, serif';
  text-shadow: black 5px 0px 10px;
  /* text-shadow: 5px 5px #558ABB; */
  /* text-shadow: 1px 1px 2px white, 0 0 1em black, 0 0 0.2em black; */
  letter-spacing: 0.5px;
}
.h1-content>h3{
  margin-top: 20px;
  
}
.h1-content>h1{
 font-size: 3em;
  
}
.buttons{
  text-align: center;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#button-pad{
  padding: 10px;
  width: 13%;
}
.pad-button{
  margin: 0px 30px;
}


@media only screen and (max-width: 600px){
  .h1-content>h1 {
    font-size: 2em;
  }
  .h1-content>h3{
     font-size: 1.3em;
  }


  .walpaper{

    margin: 0px 0px;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    /* linear-gradient(rgb(136 45 70 / 96%),rgba(32,44,70,0.96)), */
    url(./assets/images/bg_pic.jpg) ;
    
    height: 650px; 
  
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .buttons{
    text-align: center;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  #button-pad{
    padding: 8px;
    width: 30%;
  }

  .pad-button{
    margin: 0px 25px;
  }


  .content{

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 81%;
    
  }
}

